/* LESS Document */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pkHEYT8L6.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPBQ.ttf) format('truetype');
}
@media only screen and (orientation: portrait) {
  .spacer {
    margin-right: auto;
    height: 15px;
  }
}
body {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'Quicksand', 'sans-serif';
  height: 100%;
}
@media only screen and (max-width: 800px) {
  body {
    min-width: 380px;
    max-width: 100%;
  }
}
.text {
  font-size: 1em;
  line-height: 25.85px;
  text-align: left;
}
@media only screen and (max-width: 800px) {
  .text {
    font-size: 1.125em;
    line-height: 25.85px;
  }
}
.h1 {
  font-size: 60px;
  letter-spacing: 0.08em;
  text-shadow: 0em 0em 0.5em #000;
  text-transform: uppercase;
  margin-bottom: 9.25px;
  line-height: 1.0em;
}
@media only screen and (max-width: 800px) {
  .h1 {
    font-size: 2.921875em;
  }
}
.h2 {
  font-size: 1.5625em;
  letter-spacing: 0.1em;
  text-shadow: 0em 0em 0.5em #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  .h2 {
    font-size: 1.5625em;
  }
}
.h3 {
  font-size: 1.125em;
  text-shadow: 0em 0em 0.2em #000;
  text-transform: uppercase;
  line-height: 1.62em;
  padding-top: 6.5px;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 800px) {
  .h3 {
    font-size: 1.125em;
  }
}
.spacer {
  position: relative;
  float: left;
  width: 22.5px;
  height: 15px;
}
@media only screen and (max-width: 800px) {
  .spacer {
    margin-right: auto;
    height: 15px;
  }
}
#navbar {
  background-color: #FFF;
  z-index: 100;
  height: 7vh;
  width: 100%;
}
#navbar_innerLayout {
  padding-left: 45px;
  padding-right: 45px;
}
#nav {
  float: right;
  padding-top: 2.24347826vh;
}
#logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
  float: left;
  padding-top: 2.04347826vh;
}
.navlink {
  font-weight: 800;
  font-family: Montserrat;
  text-align: center;
  display: inline-block;
  position: relative;
  float: left;
}
.navlink::after {
  content: '';
  position: absolute;
  display: block;
  margin-top: 4px;
  width: 55px;
  height: 3px;
  border-bottom: 4px solid;
}
.l_inactive:after {
  visibility: hidden;
}
.l_inactive:hover:after {
  visibility: visible;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: -3px -1px 7px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -3px -1px 7px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -3px -1px 7px 2px rgba(0, 0, 0, 0.4);
}
.sticky + .content {
  padding-top: 60px;
}
#hero_video_layouter {
  min-width: 1000px;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #FFF;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 800px) {
  #hero_video_layouter {
    min-width: 100%;
    max-width: 100%;
  }
}
#hero_text {
  margin-bottom: 30px;
  min-width: 380px;
  padding-left: 12vw;
  padding-right: 12vw;
  position: absolute;
}
@media only screen and (max-width: 800px) {
  #hero_text {
    min-width: 380px;
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
#hero_video_container {
  height: 100%;
  width: 100%;
}
#hero_video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  font-size: 63vh;
  line-height: 800px;
  letter-spacing: 0.5;
  font-size-adjust: 60;
}
@media only screen and (max-width: 800px) {
  #hero_video {
    font-size: 400px;
    letter-spacing: 0.5;
  }
}
.sec {
  background-color: #FFF;
  height: 100%;
}
.sec_masters {
  background-color: #000;
}
#intro {
  padding-top: 45px;
}
.layouter {
  padding-top: 30px;
  padding-bottom: 42px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 800px) {
  .layouter {
    min-width: 380px;
    max-width: 100%;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22.5px;
}
@media  (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.gridbox {
  border-radius: 5px;
  border-color: #101010;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
.innerLayout {
  height: auto;
  width: auto;
  padding-left: 12vw;
  padding-right: 12vw;
}
@media only screen and (max-width: 800px) {
  .innerLayout {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
.project_galleryItem {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .project_galleryItem {
    margin-right: auto;
    margin-left: auto;
  }
}
.project_galleryItem .h2 {
  margin-bottom: 0px;
}
.project_galleryItem .h3 {
  line-height: 1.6em;
}
@media only screen and (max-width: 800px) {
  .project_galleryItem .h3 {
    line-height: 1.4em;
  }
}
.galleryItem_image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .galleryItem_image {
    opacity: 0.6;
  }
}
.ontopContent {
  transition: .6s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .ontopContent {
    opacity: 1;
    transition: 0s ease;
  }
}
.ontopText {
  color: #fff;
  font-size: 1.0125em;
  padding-right: auto;
  padding-left: auto;
}
.project_galleryItem:hover .galleryItem_image {
  opacity: 0.40;
}
.project_galleryItem .h3 {
  line-height: 1.45em;
}
.project_galleryItem:hover .ontopContent {
  opacity: 1.0;
}
.contact {
  color: #000;
  text-transform: none;
}
.contact .h3 {
  line-height: 1.0em;
  padding-top: 3px;
  text-shadow: none;
}
.contact .project_text {
  line-height: 1.45em;
  width: 100%;
  padding-top: 16.5px;
  font-size: 1em;
}
@media only screen and (max-width: 800px) {
  .contact .project_text {
    font-size: 1.125em;
  }
}
.contact .bottom {
  vertical-align: text-bottom;
  bottom: 0;
  right: 0;
  text-align: right;
  position: absolute;
}
.contact img {
  width: 1em;
  margin-right: 1px;
}
@media only screen and (max-width: 800px) {
  .contact img {
    width: 0.9em;
    height: 0.9em;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.invisible {
  color: #000;
  width: 100%;
  font-size: 8px;
}
@media only screen and (max-width: 800px) {
  .invisible {
    font-size: 0px;
  }
}
.preloader {
  background-size: 0px 0px;
  height: 0px;
  width: 0px;
}
#preloaded-images1 .preloader {
  background-image: url(../img_spartathlon/sparta_header_SM.jpg);
}
#preloaded-images2 .preloader {
  background-image: url(../img_lab2/lab2_header_SM.jpg);
}
#preloaded-images3 .preloader {
  background: url(../images_goma/sgoma_header_SM.jpg);
}
#preloaded-images11 .preloader {
  background-image: url(../img_spartathlon/sparta_header_GR.jpg);
}
#preloaded-images21 .preloader {
  background-image: url(../img_lab2/lab2_header_GR.jpg);
}
#preloaded-images31 .preloader {
  background-image: url(../images_goma/sgoma_header_GR.jpg);
}
#parked {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transform: translateX(-50%);
  margin-right: auto;
  margin-left: auto;
  display: block;
  /*for the img inside your div */
}
